<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Random W.O.D.</title>
	<meta name="description" content="Gym closed? Feeling Lost? No Problem! Generate a Random Workout of the Day.">
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
</head>

<body>
	<div class="menubar">
		<nav class="navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<!-- the hamburger (three icon-bar spans) --> 
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<!-- the links that are toggled-->
						<li>
							<span class="vertButton"><a class="navbar-brand" href="/">Get Your W.O.D.</a></span>
						</li>
						<li>
							<span class="vertButton"><a class="navbar-brand" href="/previous">Existing Workouts</a></span>
						</li>
						<li>
							<span class="vertButton"><a class="navbar-brand" href="/about">About</a></span>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	{{{body}}}
	<div id="footer" class="container">
  		This website is not intended for real-world use. Don't attempt any of the exercises on this 
        website. Always consult your physician before beginning any exercise program. By using this website, 
		you agree to our <a href="/terms">terms of use.</a> and <a href="/privacy">privacy policy</a> 
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
