<div class="container">
    <div class="jumbotron">
	    <h1 id="logoText"> Random Workout of the Day</h1>
        <hr class="my-4">
        <p class="aboutText">You are lost</p>
    </div>
    <div class="gray">
        <div class="outer">
            <h3>Error 404 - Page Is Nowhere to be Found</h3>
            <div style="font-size:200px"> :( </div>
        </div>
    </div>
</div>
