<link rel="stylesheet" href="/css/about.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<div class="container">
  <div class="jumbotron shadow p-3 mb-5 bg-white rounded">
		<h1 id="logoText"> Random Workout of the Day</h1>
    <hr class="my-4">
    <p class="aboutText">About this website</p>
  </div>
  <div class="gray">
    <div id="about">
      <div class="row outer">
        <div class="col-lg-7 col-xs-12" id="text">
          <p>
            Hi! My name is Megan Pellow and I am currently studying computer science at Oregon State University. 
            Thanks for visiting my website! My inspiration for creating this site came from the good people at 
            CrossFit Mount Lebanon in Pittsburgh, PA and UCan Crossfit in Houston, TX. When gyms were shut down 
            due to the Covid-19 pandemic in March of 2020, these amazing coaches lent out their equipment and did 
            their best to create workouts that could be done at home. Still, there was not enough equipment to give 
            all of their gym members a full set. Some people were given barbells, some dumbbells, some medicine balls, 
            and so on. Immediately, all the fitness equipment supply stores were out of stock. We were all left to adapt 
            as best as we could. 
          </p>
          <p>
            We ran around our neighborhoods, we lifted odd objects from our garages, 
            <span><a class="dogs" href="/dogs">we even squatted our dogs!</a></span> We all found out just how 
            resilient we were, given the situation. One day the assigned workout did not match my given set of equipment 
            at all, and I realized that I needed another way to adapt. How could I get a varied workout that would account 
            for the equipment that I did have on hand? Thus the idea for this website was born.
          </p>
          <p>
            Please note that these randomly generated workouts are not real and should not be attempted. However, 
            I hope that you will find inspiration from the website to continue your fitness journey, no matter what 
            obstacles are in your way.  
          </p>
          <p>
            Cheers!
          </p>
          <p>
            -Megan
          </p>
            
        </div>
        <div class="col-lg-5 col-xs-12 responsive" id="photo">
          <img src="/images/stretch.jpg" alt="stretch" id="portrait">
        </div>
      </div>
    </div>
  </div>
</div>
