<link rel="stylesheet" href="/css/dogs.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<div class="container">
  <div class="jumbotron">
		<h1 class="logoText"> Random Workout of the Day</h1>
    <hr class="my-4">
    <p class="aboutText">About the dogs!</p>
  </div>
  <div id="about" class="gray">
    <div class="outer"></div>
      <p class="ptext">
        Actual footage of my family squatting our dogs instead of barbells on the day that our gym closed:
      </p>

      <div class="row outer">
        <div class="col-sm-6 col-xs-12 float-sm-none videos">
          <video class="videos" controls="controls" width="auto" height="600" name="ZivaFail" src="/images/ZivaFailure.mov"></video>
          <figcaption>Ziva is always game to try some thing new, but she loves belly rubs more than anything!</figcaption>
        </div>
        <div class="col-sm-6 col-xs-12 float-sm-none videos">
          <video class="videos" controls="controls" width="auto" height="600" name="DobbySuccess" src="/images/DobbySuccess.mov"></video>
          <figcaption>Dobby wanted to know what all the excitement was about, but decide that it wasn't her thing after all...</figcaption>
        </div>
      </div>
    </div>
  </div>
</div>
