<link rel="stylesheet" href="/css/about.css" type="text/css">

<div class="container">
  <div class="jumbotron">
		<h1 id="logoText"> Random Workout of the Day</h1>
    <hr class="my-4">
    <p class="aboutText">Privacy Policy</p>
  </div>
  <div class="gray">
    <div id="terms" class="outer">
      <p> 
        This website may receive, collect, and store any information you provide 
        including your exercise information.
      </p>
    </div>
  </div>
</div>
<script src="/js/about.js"></script>