<link rel="stylesheet" href="/css/about.css" type="text/css">

<div class="container">
  <div class="jumbotron">
		<h1 id="logoText"> Random Workout of the Day</h1>
    <hr class="my-4">
    <p class="aboutText">Terms of Use</p>
  </div>
  <div class="gray">
    <div id="terms" class="outer">
      <p>
      Please read the below terms of use carefully before accessing or using 
      this website. By accessing or using any part of this website, you agree to become 
      bound by these terms of use.  If you do not agree to all the terms of use, 
      then you may not access or use this website.
      </p>
      <p>
      This website is not intended for real-world use.  Don't attempt any of the exercises on this 
      website.  Always consult your physician before beginning any exercise program.
      </p>
      <p>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
      OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
      THE SOFTWARE.
      </p>
    </div>
  </div>
</div>
<script src="/js/about.js"></script>